.registerTablePopup{
  background-color: rgba(0, 0, 0, .6);
  width:      100%;
  height:     100%;
  z-index:    10;
  top:        0;
  left:       0;
  position:   fixed;
}


.registerTablePopupContent{
  background-color: rgba(222, 222, 222, 1);
  border-radius: 10px;
  width: 700px;
  height: 450px;
  margin: -150px 0 0 -300px;
  top:        50%;
  left:       50%;
  position:   fixed;
}
